{% extends 'base.j2' %}

{% block header %}
    <h2>{% block title %}Search{% endblock %}</h2>
{% endblock %}

{% block content %}

    {# {% if g.user %}
        <h3><a href="{{ url_for('add.review', username=g.user['username']) }}">Add Review</a></h3>
        <h3><a href="{{ url_for('add.media') }}">Add Media</a></h3>
    {% endif %} #}
    {#}
    <ul class="list-group">
        {% for username in input['users'] %}
            <li class="list-group-item"><a href="{{ url_for('profile.view_user_profile', username=username) }}">{{ username }}</a></li>
        {% endfor %}
    </ul> #}


    {# Search Drop Down Options #}
    <form method="post">

        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <div>
                        <label for="display_type">Display:</label>
                    </div>


                    <div>
                        <div class="form-check-inline">
                            <label class="form-check-label default">
                                <input type="radio" class="form-check-input" name="display_type" value="reviews" {% if input['display_type'] == "reviews" %}checked{% endif %}>Reviews
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="display_type" value="profiles" {% if input['display_type'] == "profiles" %}checked{% endif %}>Profiles
                            </label>
                        </div>
                    </div>

                    {# <select name="displaytype" id="displaytype">
                        <option value="reviews">Reviews</option>
                        <option value="profiles">Profiles</option>
                    </select> #}
                </div>

                <div class="col">
                    <label for="search_for">Search For:</label>
                    <select name="search_for" id="search_for" class="custom-select">
                        <option value="movies" {% if input['search_for'] == "movies" %}selected{% endif %}>Movies</option>
                        <option value="books" {% if input['search_for'] == "books" %}selected{% endif %}>Books</option>
                        <option value="users" {% if input['search_for'] == "users" %}selected{% endif %}>Users</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="input-group px-2 py-2">
                    <input class="form-control" type="text" name="search" id="search" placeholder="{{ input['search_input'] }}">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    {# TODO js/python/jinja needed to select between review list and User list based on radio buttons (review list default?) #}
    {% if input['display_type'] == "reviews" %}
        <div id="review_list" style="">
            {% include 'review/review_list.j2' %}
        </div>
    {% elif input['display_type'] == "profiles" %}
        <div id="profile_list" style="">
            <ul class="list-group">
                {% for profile in input['profiles'] %}
                    {% if input['search_for'] == 'users' %}
                        <li class="list-group-item"><a href="{{ url_for('profile.view_user_profile', username=profile['username']) }}">{{ profile['username'] }}</a></li>
                    {% else %}
                        <li class="list-group-item"><a href="{{ url_for('profile.view_media_profile', category=input['search_for'], title=profile['title']) }}">{{ profile['title'] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>



            {# {% if input['search_for'] == 'users' %}
                <ul class="list-group">
                    {% for username in input['profiles'] %}
                        <li class="list-group-item"><a href="{{ url_for('profile.view_user_profile', username=username) }}">{{ username }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="list-group">
                    {% for title in input['profiles'] %}
                        <li class="list-group-item"><a href="{{ url_for('profile.view_media_profile', category=input['search_for'], title=title['title']) }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %} #}
        </div>
    {% endif %}
{% endblock %}