{% extends 'base.j2' %}

{% block header %}
  <h2>{% block title %}Add Review{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="category">Category</label>
    <input name="category" id="category" required>
    <label for="media_title">Title</label>
    <input name="media_title" id="media_title" required>
    <label for="rating">Rank out of 30</label>
    <input name="rating" id="rating" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }} </textarea>
    <input type="submit" value="Submit">
  </form>
{% endblock %}