{% extends 'base.j2' %}

{% block header %}{{ input['heading'] }}{% endblock %}

{% block content %}
    {# profile details #}
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="img-thumbnail" 
                    src="{{ url_for('static', filename=input['image']) }}" 
                    alt="profile image">
            </div>
            <div class="col">
                {% for key in input['profile_attrs'].keys() %}
                    <div class="row">
                        <div class="col">{{ key.title() }}:</div>
                        <div class="col">{{ input['profile_attrs'][key] }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class='col-2'>Summary:</div>
            <div class="col">{{ input['summary'] }}</div>
        </div>
    </div>


    {# media/user specific reviews #}
    {% include 'review/review_list.j2' %}
    
{% endblock %}
