{% extends 'base.j2' %}

{% block header %}
  <h2>{% block title %}Add Review{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-row">
      <div class="col">
        <label for="category">Category</label>
      </div>
      <div class="col">
        <select name="category" id="category">
          <option value="movies">Movies</option>
          <option value="books">Books</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="media_title">Title</label>
      </div>
      <div class="col">
        <input name="media_title" id="media_title" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="rating">Rank out of 30</label>
      </div>
      <div class="col">
        <input name="rating" id="rating" required>
      </div>
    </div>

    <label for="body">Review</label>
    <br />
    <textarea name="body" id="body" style="width: 100%">{{ request.form['body'] }} </textarea>

    <div class="form-row">
      <div class="col">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>
{% endblock %}