{% extends 'base.j2' %}

{% block header %}
  <h2>{% block title %}Home{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% if g.user %}
        <h3><a href="{{ url_for('profile.add_user_reviews', username=g.user['username']) }}">Add Review</a></h3>
    {% endif %}
    <ul>
        {% for username in users %}
            <li><a href="{{ url_for('profile.view_user_reviews', username=username) }}">{{ username }}</li>
        {% endfor %}
    </ul>
{% endblock %}