{% extends 'base.j2' %}

{% block header %}
  <h2>{% block title %}Register{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-row">
      <div class="col">
        <label for="username">Username</label>
      </div>
      <div class="col">
        <input name="username" id="username" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="password">Password</label>
      </div>
      <div class="col">
        <input type="password" name="password" id="password" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="firstname">First Name</label>
      </div>
      <div class="col">
        <input name="firstname" id="firstname">
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="lastname">Last Name</label>
      </div>
      <div class="col">
        <input name="lastname" id="lastname">
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="age">Age</label>
      </div>
      <div class="col">
        <input name="age" id="age">
      </div>
    </div>

    <label for="summary">Summary</label>
    <br />
    <textarea name="summary" id="summary" style="width: 100%;"></textarea>
    
    <div class="form-row">
      <div class="col">
        <input type="submit" value="Register">
      </div>
    </div>
  </form>
{% endblock %}


  
