{% extends 'base.j2' %}

{% block header %}
  <h2>{% block title %}Home{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% if g.user %}
        <h3><a href="{{ url_for('add.review', username=g.user['username']) }}">Add Review</a></h3>
        <h3><a href="{{ url_for('add.media') }}">Add Media</a></h3>
    {% endif %}
    <ul class="list-group">
        {% for username in input['users'] %}
            <li class="list-group-item"><a href="{{ url_for('profile.view_user_profile', username=username) }}">{{ username }}</a></li>
        {% endfor %}
    </ul>
    {% include 'review/review_list.j2' %}
{% endblock %}